# Lecture 1

- HW1 is posted yesterday, due upcoming Sunday 11:59pm (for any HW related questions please email the TA)
- Please make sure to log in to Canvas and read the syllabus by tomorrow
- I postponed the 2nd exam to March 3rd

## Printing in Python

In [2]:
print("Hello world!")

Hello world!

In [3]:
print("The time right now is 9:39 AM!")

The time right now is 9:39 AM!

Python can also be used like a "calculator"

In [4]:
5+5

10

In [5]:
5555+555

6110

## Variable and Variable Assignment
- Variable assigment can be achieven with a = sign
- Math, 1+1=2 and 2=1+1 are the same equation, which means the = sign itself is non-directional
- In python and other programming languages, the = sign has a different meaning and at the same time it is "directional": **the direction is right to left, and it assigns the value at the right of the equal sign to the left**

In [6]:
x = 1

In [7]:
print(x)

1

In [8]:
print(y)

NameError: name 'y' is not defined

In [ ]:
x = x + 1
print(x)

this expression can be further simplified as:

In [13]:
print(x)
x += 1
print(x)
# x += 1 is exactly the same as x = x + 1

5
6

Define multiple variables in one line

In [14]:
a, b, c = (5,6,7,)

In [16]:
print(a)
print(b)
print(c)

5
6
7

we can also define them separately

In [18]:
a = 5
b = 6
c = 7

In [21]:
a+b+c

11

what if I re-define one of my variables?

In [20]:
c = 0

In [22]:
del a
del b
del c

In [23]:
a

NameError: name 'a' is not defined

## Basic Objects
### Data types
- integer datatype

In [27]:
a = 2
b = 3

- float datatype

In [34]:
c = 2.  # 2. means 2.0
d = 3.
e = 3.14

- string datatype

In [25]:
f = '2' # for string we can use either '' ""
g = "hi"
h = 'hello'

different data type functions differently in computation and indexing, let's start with some integer operation
- when you are doing mathematical operation of two integers, +-* keeps the integer datatype, while / will change the datatype to float

In [28]:
print(a/b)
print(a+b)
print(a-b)
print(a*b)
print(a/(a+b))

0.6666666666666666
5
-1
6
0.4

There is a way to keep integer datatype even with division operation

In [33]:
print(a//b)
print(b//a)
print(7777//5)

0
1
1555

In [35]:
print(c/d)
print(c+d)
print(c-d)
print(c*d)
print(c/(c+d))

0.6666666666666666
5.0
-1.0
6.0
0.4

Some operation in Python requires integer-typed data, float cannot be used

In [36]:
my_first_list = ["this", "is", "a", "list"]

In [37]:
print(b,d)

3 3.0

In [38]:
my_first_list[3]

'list'

In [39]:
my_first_list[b]

'list'

In [40]:
my_first_list[d]

TypeError: list indices must be integers or slices, not float

I can convert a float point number to an integer and index again

In [41]:
my_first_list[int(d)]

'list'

In [44]:
print(d)
print(int(d), int(3.12), int(3.77))
print(3.77//1)

3.0
3 3 3
3.0

we can also cast our variable into other types

In [45]:
print(a + float(b))
print(a + float(f)) # remember f is a string f = '2'
print(a + int(f))

5.0
4.0
4

of course not all strings can be converted to numbers by this method

In [46]:
float(g)

ValueError: could not convert string to float: 'hi'

## Capacity of Floating Point Number (float)

In [47]:
x = 12. + 0.00000000000000000000000000001

In [48]:
print((x-12.)*100000000000000000000000000000000000000)

0.0

In [49]:
x = 0.00000000000000000000000000001
print(x)

1e-29

In [60]:
x = 1. + 0.00000000000001
print((x-1.)*1000000000000000000)

9992.007221626409

Let me introduce you a new notation: the "e" notation
- "e" exactly means "times the 10 to the power of"

In [57]:
1 + 1e-12

1.000000000001

In [58]:
((1 + 1e-16)-1)*1e16

0.0

In [59]:
((1 + 1e-12)-1)*1e12

1.000088900582341

## Adding strings

In [61]:
print(f, g, h)

2 hi hello

In [62]:
print(f+g+h)

2hihello

In [63]:
print(f + " " + g + " " + h)

2 hi hello

in python 3 and + there is a special way to print strings

In [64]:
print(f+a+h)

TypeError: can only concatenate str (not "int") to str

if you really want to add strings and other types together, you will have to first other type into strings

In [65]:
print(f + str(a) + h) # This convert integer 2 into string '2'

22hello

This is not easy to use, because when I debug my code, I often want to print out strings and variables of other types together

In [67]:
print(f"This number is a integer and it is {a}")
print(f"{f}{a}{h}")

This number is a integer and it is 2
22hello

you can also "multiply" a string to repeat it

In [72]:
h*10

'hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello'

In [75]:
for i in range(10):
    print(f"Hi number{i}.txt")

Hi number0.txt
Hi number1.txt
Hi number2.txt
Hi number3.txt
Hi number4.txt
Hi number5.txt
Hi number6.txt
Hi number7.txt
Hi number8.txt
Hi number9.txt