# Lecture 2
## Announcements:
- HW1 due date extended by 3 days, now due Wed. Jan. 21st at 11:59pm
- HW2 will still be due on regular time schedule (posted on Monday, Jan. 19th and due on Sunday, Jan. 25th)
- Office hour scheduled and announced on Canvas, you can also find it in the syllabus
- On canvas there are two modules: **detailed course notebook** (like a textbook) and **in class lecture notes** (like lecture notes), they should cover almost the same material, **detailed course notebook** has more explanations and are probably easier to follow. The scope of the exam will be defined upon **in class lecture notes**

### Complex Number

We can define complex numbers in python. You probably learned it using the "i" notation in physics, but in python we use the engineering notation "j"

In [1]:
z1 = 1 + 2j

In [2]:
print(z1/3)

(0.3333333333333333+0.6666666666666666j)

Another way to define complex number

In [3]:
z2 = complex(1,2)

In [4]:
print(z2)

(1+2j)

In [5]:
z1/z2

(1+0j)

In [6]:
z1*z2

(-3+4j)

## List, Tuples, and Dictionary
- A list is a group of object, it can almost be anything

In [8]:
list_example = [1,2,3,"hi", 4,5,6,7]

- how to index a list: index means to extract certain element at certain locations
  - If I want to extract the first element of this list, what index should I use?
    - you need index **0**, because in programming languages you always start counting from 0
- The way you index your list is using [integer]

In [9]:
print(list_example[0])

1

Indexing the string in my list:

list: [1,2,3,"hi", 4,5,6,7]

index: 0 1  2  3   4 5 6 7

In [10]:
print(list_example[3])

hi

### Loop through the list
There are actually 2 ways to loop through the list, both of them use a for loop:
- first way:

In [12]:
for item in list_example:
    print(item)

1
2
3
hi
4
5
6
7

- second way:

In [13]:
for index in range(len(list_example)):
    print(list_example[index])

1
2
3
hi
4
5
6
7

- the _len()_ function just tells you the length of your list
- the _range()_ function provides me a list of indcies based on the length of the list
   - range takes 3 argument: range(start = 0, stop, increment = 1)
   - If you call range(8), that means range(start=0, stop=8, increment=1)
   - **important**: range actually does not include the stop argument we give it, for example if you call range(8), it only iterate through [0, 1, 2, 3, 4, 5, 6, 7]

In [14]:
print(len(list_example))

8

In [17]:
print(list(range(8)))

[0, 1, 2, 3, 4, 5, 6, 7]

I want to try a few different range operations

In [19]:
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

**important**: the start argument of range is included in the list/iterator

In [20]:
print(list(range(2,8,2)))

[2, 4, 6]

In [21]:
for index in range(2, len(list_example), 2):
    print(list_example[index])

3
4
6

### Nested For Loop

In [24]:
list2 = [1,"b", 3]
for item in list2: # outer for loop
    for item2 in list2: # inner for loop
        print(f"item1 is {item} and item2 is {item2}")
    print(f"item1: {item}")
print("==========all done========")

item1 is 1 and item2 is 1
item1 is 1 and item2 is b
item1 is 1 and item2 is 3
item1: 1
item1 is b and item2 is 1
item1 is b and item2 is b
item1 is b and item2 is 3
item1: b
item1 is 3 and item2 is 1
item1 is 3 and item2 is b
item1 is 3 and item2 is 3
item1: 3
==========all done========

The first step in outer for loop provides me:

item1 is 1 and item2 is 1

item1 is 1 and item2 is b

item1 is 1 and item2 is 3

item1: 1

The second step in outer for loop provides me:

item1 is b and item2 is 1

item1 is b and item2 is b

item1 is b and item2 is 3

item1: b

Thew 3rd step in outer for loop provides me

item1 is 3 and item2 is 1

item1 is 3 and item2 is b

item1 is 3 and item2 is 3

item1: 3

**The way we define for loop and their scope is based on indentation**

### Slicing a list
- indexing means we only want to get 1 element ouf of my list
- Slicing means I want to get a subsets of elements (in certain order) from my list

In [26]:
list_example[:5] #list_example[0:5:1]

[1, 2, 3, 'hi', 4]

List slicing is achieven with the semicolon notation **::**
- _start:stop:increment_
- similar to the range() logic, start is by default 0 and increment is by default 1, stop is by default the length of the list
- the second semicolon can be omitted if we do not plan to change the increment

In [28]:
print(list_example[:5])
print(list_example[0:5:1])

[1, 2, 3, 'hi', 4]
[1, 2, 3, 'hi', 4]

In [29]:
print(list_example[2:]) #identical to list_example[2:last:1]

[3, 'hi', 4, 5, 6, 7]

what if I want to slice my list from the start to the end but with non-1 increment

In [30]:
print(list_example[::2]) # identical to list_example[0:last:2]

[1, 3, 4, 6]

You can also use this functionality to loop back through the list

In [31]:
print(list_example[::-1])

[7, 6, 5, 4, 'hi', 3, 2, 1]

In [33]:
print(list_example[7:2:-1])

[7, 6, 5, 4, 'hi']

In [34]:
list_example[-1]

7

the very last element in your list is indexed as -1
the second last element in your list is indexed as -2
.....

In [37]:
print(list_example[:-1])
print(list_example[:-2])

[1, 2, 3, 'hi', 4, 5, 6]
[1, 2, 3, 'hi', 4, 5]

### assigning a list to another list

In [39]:
print(list_example)
list_example[0] = "k"
print(list_example)

[1, 2, 3, 'hi', 4, 5, 6, 7]
['k', 2, 3, 'hi', 4, 5, 6, 7]

In [ ]:
list3 = list_example

What this actually is tha "list3" is a "pointer" that point into whatever list_example is referring to

In [41]:
print(list_example,list3)

['k', 2, 3, 'hi', 4, 5, 6, 7] ['k', 2, 3, 'hi', 4, 5, 6, 7]

In [42]:
list_example[0] = 1
print(list_example,list3)

[1, 2, 3, 'hi', 4, 5, 6, 7] [1, 2, 3, 'hi', 4, 5, 6, 7]

if you do want to create a new list that is a copy of the original one instead of creating a pointer, there are several ways:

In [43]:
list4 = list_example[:] #indentical to list[0:last(included):1]
list5 = list_example.copy()

In [44]:
list_example[0] = "hello"
print(list3,list4,list5)

['hello', 2, 3, 'hi', 4, 5, 6, 7] [1, 2, 3, 'hi', 4, 5, 6, 7] [1, 2, 3, 'hi', 4, 5, 6, 7]

You can also add and multiply a list

In [45]:
list_example + ["a", 2, 3]

['hello', 2, 3, 'hi', 4, 5, 6, 7, 'a', 2, 3]

this does not change your list example, because we haven't assign it

In [46]:
print(list_example)

['hello', 2, 3, 'hi', 4, 5, 6, 7]

You can also multiply a list

In [47]:
[1,2]*5 #[1,2] + [1,2]  + [1,2] + [1,2] + [1,2]

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

you can also append elements to your list, this will actually change your list content

In [48]:
print(list_example)
list_example.append("ai")
print(list_example)

['hello', 2, 3, 'hi', 4, 5, 6, 7]
['hello', 2, 3, 'hi', 4, 5, 6, 7, 'ai']

we can also use the += sign, remember the example we showed in lecture 1 is: x+=1 is the same as x = x + 1

In [49]:
print(list_example)
list_example += ["ai"]
print(list_example)

['hello', 2, 3, 'hi', 4, 5, 6, 7, 'ai']
['hello', 2, 3, 'hi', 4, 5, 6, 7, 'ai', 'ai']

You can also delete elements in your list

In [54]:
print(list_example)
del list_example[-1]
print(list_example)

['hello', 2, 3, 'hi', 4, 5, 6, 7, 'ai', 'ai', 'a', 'i', 'a', 'i']
['hello', 2, 3, 'hi', 4, 5, 6, 7, 'ai', 'ai', 'a', 'i', 'a']

other list tools:

In [55]:
print(len(list_example), min([2,3,4,5]), max([2,3,4,5]))

13 2 5

##ã€€Tuple

Tuple is very similar to a list, but instead of using [], we use ()

In [56]:
tuple1 = (1,2,3,"hi")

In [57]:
print(tuple1)

(1, 2, 3, 'hi')

In [58]:
print(tuple1[0])
print(tuple1[::2])

1
(1, 3)

The key difference is that you cannot change individual entries of tuple after it is defined

In [59]:
tuple1[0] = 1

TypeError: 'tuple' object does not support item assignment

## Tuple can be used to assign multiple variables in the same line

In [60]:
a, b, c = (2,3,5)

In [61]:
print(a,b,c)

2 3 5

## Dictionary
- list: []
- tuple: ()
- Dictionary: {}

In [63]:
dict1 = {"bob":1, "alice":2}

In [64]:
dict2 = {}
dict2["bob"] = 1
dict2["alice"] = 2

In [65]:
print(dict1, dict2)

{'bob': 1, 'alice': 2} {'bob': 1, 'alice': 2}

when you index a list, you can only use integer, but when you index dict you can use string

In [67]:
print(dict1["bob"])
print(dict1["alice"])

1
2

In [68]:
print(dict1["chatgpt"])

KeyError: 'chatgpt'

In [69]:
dict2[3.6] = "a"

In [71]:
print(dict2)

{'bob': 1, 'alice': 2, 3.6: 'a'}

In [72]:
dict2["cvc"] = "a"

In [73]:
print(dict2)

{'bob': 1, 'alice': 2, 3.6: 'a', 'cvc': 'a'}

In [76]:
dict2["alice"] = "3"

In [77]:
print(dict2)

{'bob': 1, 'alice': '3', 3.6: 'a', 'cvc': 'a', 'a': '3'}

In [78]:
print(list(range(8)))

[0, 1, 2, 3, 4, 5, 6, 7]